name: Application CI
on:
  push:
    branches:
      - main
  pull_request: { }
  workflow_dispatch: { }
jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions: write-all
    # To use Remote Caching, uncomment the next lines and follow the steps below.
    # env:
    #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    #  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test

      - name: Run Semantic Release
        run: |
          pnpm dlx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # TODO:      - uses: actions/upload-artifact@v2
  #        if: ${{ always() }}
  #        with:
  #          name: reports
  #          path: "**/build/reports"

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      # Note: You might need to adjust this step regarding your project needs.
      #       There is not an exact pnpm equivalent for the gradle dependency-submission step.
      - name: Install dependencies
        run: pnpm install
